#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#container {
	background-color: #f2f2f2;
	width: 600px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#input-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 3px solid #ccc;
}

#task-input {
	flex: 1;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

#task-input:focus {
	outline: none;
}

#add-task {
	background-color: black;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

#add-task:hover {
	background-color: #333;
}

#task-container {
	margin-top: 20px;
}

#task-list {
	list-style-type: none;
	padding: 0;
}

.task {
	display: flex;
	/*flex-direction: column;*/
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 3px solid #e0e0e0;
	/*position: relative;*/
}

.task:last-child {
	border-bottom: none;
}

.task-checkbox {
	opacity: 0;
}

.task-checkbox-container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 4px;
	transition: background-color 0.3s, border-color 0.3s;
}

.checkmark::after {
	content: "";
	position: absolute;
	display: none;
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.task-checkbox:checked ~ .checkmark {
	background-color: #000;
	border-color: #000;
}

.task-checkbox:checked ~ .checkmark::after {
	display: block;
}

.task-checkbox-container:hover .checkmark {
	border-color: #333;
}

.task-checkbox:checked ~ .checkmark {
	border-color: #000;
}

.task-text {
	flex: 1;
	margin-right: 10px;
	/*text-align: center;*/
}

.task-delete {
	background-color: black;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 12px;
}

.done {
	text-decoration: line-through;
	opacity: 0.5;
}

